<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ioanapascu.edfocus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ioanapascu.edfocus.SignInActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ioanapascu.edfocus.parent.ParentProfileActivity" />
        <activity android:name="com.ioanapascu.edfocus.student.ChildProfileActivity" />
        <activity android:name="com.ioanapascu.edfocus.SignUpActivity" />
        <activity
            android:name="com.ioanapascu.edfocus.shared.DrawerActivity"
            android:label="" />
        <activity
            android:name="com.ioanapascu.edfocus.shared.EditProfileActivity"
            android:label="Edit your profile" />
        <activity android:name="com.ioanapascu.edfocus.BaseActivity" />

        <!-- Firebase Notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_email_envelope" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/cyan" />

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.ioanapascu.edfocus.shared.SearchActivity" />
        <activity
            android:name="com.ioanapascu.edfocus.shared.ViewProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ioanap.classbook_TARGET_REQUEST_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ioanapascu.edfocus.shared.ClassActivity" />
        <activity android:name="com.ioanapascu.edfocus.student.ClassActivity_s" />
        <activity android:name="com.ioanapascu.edfocus.teacher.AddClassActivity" />
        <activity android:name="com.ioanapascu.edfocus.teacher.ClassTokenActivity" />
        <activity android:name="com.ioanapascu.edfocus.shared.CoursesActivity" />
        <activity android:name="com.ioanapascu.edfocus.teacher.FilesActivity" />
        <activity android:name="com.ioanapascu.edfocus.teacher.ScheduleActivity" />
        <activity
            android:name="com.ioanapascu.edfocus.teacher.StudentsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.ioanapascu.edfocus.teacher.StudentActivity">
            <intent-filter>
                <action android:name="com.ioanap.classbook_TARGET_GRADE_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ioanapascu.edfocus.shared.EventsActivity">
            <intent-filter>
                <action android:name="com.ioanap.classbook_TARGET_EVENT_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ioanapascu.edfocus.teacher.AddMultipleGradesActivity" />
        <activity android:name="com.ioanapascu.edfocus.student.StudentsActivity_s" />
        <activity android:name="com.ioanapascu.edfocus.shared.NoInternetActivity" />

        <!-- Firebase Services -->
        <service
            android:name="com.ioanapascu.edfocus.firebase.FirebaseNotifications"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.ioanapascu.edfocus.firebase.FirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.ioanapascu.edfocus.IntroActivity" />
    </application>

</manifest>