<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ioanap.classbook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignInActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".parent.ParentProfileActivity" />
        <activity android:name=".student.ChildProfileActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".shared.DrawerActivity"
            android:label="" />
        <activity
            android:name=".shared.EditProfileActivity"
            android:label="Edit your profile" />
        <activity android:name=".BaseActivity" />

        <!-- Firebase Notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_email_envelope" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/cyan" />

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".shared.SearchActivity" />
        <activity
            android:name=".shared.ViewProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ioanap.classbook_TARGET_REQUEST_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".shared.ClassActivity" />
        <activity android:name=".student.ClassActivity_s" />
        <activity android:name=".teacher.AddClassActivity" />
        <activity android:name=".teacher.ClassTokenActivity" />
        <activity android:name=".shared.CoursesActivity" />
        <activity android:name=".teacher.FilesActivity" />
        <activity android:name=".teacher.ScheduleActivity" />
        <activity
            android:name=".teacher.StudentsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".teacher.StudentActivity">
            <intent-filter>
                <action android:name="com.ioanap.classbook_TARGET_GRADE_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".shared.EventsActivity">
            <intent-filter>
                <action android:name="com.ioanap.classbook_TARGET_EVENT_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".teacher.AddMultipleGradesActivity" />
        <activity android:name=".student.StudentsActivity_s" />
        <activity android:name=".shared.NoInternetActivity" />

        <!-- Firebase Services -->
        <service
            android:name=".firebase.FirebaseNotifications"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".firebase.FirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".IntroActivity" />
    </application>

</manifest>